/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2em;
    color: #333;
}

.blog-post {
    margin-top: 20px;
}

.blog-post h2 {
    font-size: 1.5em;
    color: #333;
}

.post-date {
    margin-bottom: 4rem;
    text-align: center;
    color: #999;
    margin-bottom: 4rem;
}

img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.post-content h2 {
    margin-bottom: 1.6rem;
    color: #333;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.post-content ol {
    margin-left: 20px;
}

.post-content li {
    margin-bottom: 1rem;
}

.post-content li::marker {
    margin-right: 1rem;
}

.post-content p {
    margin-bottom: 20px;
    opacity: 0;
    /* Initially hide text for scroll animation */
}

/* Button styles */
button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    header h1 {
        font-size: 1.5em;
    }

    .blog-post h2 {
        font-size: 1.3em;
    }

    .post-content h2 {
        font-size: 1.1em;
    }
}